[flake8]
max-line-length = 88
count = true
per-file-ignores =
    __init__.py:D104,D100
    backend/tests/*: D100,D101,D102,D103,D104
    backend/src/models/skill_level/db_model.py: F821
    backend/src/models/user_role/db_model.py: F821
    alembic/env.py: F401
extend-ignore =
    E203,
    W503,
    E501,
    D100
exclude =
    .git
    __pycache__
    env
    venv
    migrations
